body{
    font-family:Arial, Helvetica, sans-serif;
    
}
#imagedisp{
    width: 20%;
    height: 5%;
}
.navbar a{
    float: left;
    padding:10px 20px ;
    color:white;
    text-decoration: none;

}
.navbar{
    overflow: hidden;
    background-color:darkblue;
}
.navbar a:hover{
    color:darkblue;
    background-color: white;


}
.header{
    padding: 40px;
    background-image: url(https://img.freepik.com/free-vector/white-blurred-futuristic-technology-background_23-2148402775.jpg?size=626&ext=jpg);
    text-align: center;

}
.row{
    display:flex;
    flex-wrap:wrap;

}

.side{
    flex:20%;
    padding: 20px;
    background-color:#dddddd;
}
.main{
    flex:60%;
    padding: 20px;
    background-color:white;
}




#imagepart{
    width: 80%;
    height: 50%;
}
table{
    font-family: cursive;
    border-collapse: collapse;
    width: 100%;
    
    
}
td, th {
    border: 1px solid #dddddd;
    padding: 8px;
}
tr:nth-child(even){
    background-color:#dddddd;
}
#form{
    padding-top:50px;
    text-align: center;
    
}
input{
    border: 1px solid black;
    width:300px;
    height: 30px;
    border-radius: 5px;
    
}
.btn{
    padding: 10px;
    border: 1px groove cyan;
    background-color: lightblue;
}
h1{
    font-size: 50px;
}